.body {
    overflow-x: hidden;
}

.index-content {
    text-align: center;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 20px 10vw;
    background: #dbcfff;
}

.spacer {
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
.layer2 {
    background-image: url('/svg/wave2-haikei.svg');
}

.name {
    font-family: 'Pangolin', cursive;
    /* font-family: 'Sacramento', cursive; */
    font-size: 108px;
    margin: 28px;
    margin-bottom: 5px;
}

h3 {
    font-family: 'Pangolin', cursive;
    font-size: 36px;
    margin: 10px;
}

a {
    font-size: 28px;
}

.link-button {
    text-decoration: none;
    margin: 10px;
}

.CSE-label {
    font-family: 'Pangolin', cursive;
    font-size: 56px;
    margin: 0px;
    margin-bottom: 10px;
}

.profile-pic {
    width: 90%;
    border-radius: 100%;
    margin-top: 25px;
    overflow: hidden;
}

.icons {
    /* display: flex;
    flex-direction: row; */
    /* overflow: visible; */
}

.icon {
    width: 150;
    height: 150;
}

@media screen and (min-width: 1000px) {
    .profile-pic {
        width: 300px;
        height: 300px;
    }

    .name {
        font-size: 48px;
        margin: 18px;
    }

    .CSE-label {
        font-size: 28px;
    }

    .icon {
        width: 50;
        height: 50;
    }
}