.list-page-section {
   height: 100%;
   background-color: #dbcfff;
}

.title {
text-align: center;
margin-top: 0px;
}

.project-item-card {
   text-decoration: none;
}

.project-list-container {
   /* max-width: calc(50%); */
   max-width: 100%;
   margin: auto;
}

.project-item-div {
   display: flex;
   flex-direction: column;
   border-style: solid;
   border-radius: 10px;
   margin-bottom: 10px;
   max-height: 70%;
}

.project-item-div:hover {
   background-color: hsl(287, 100%, 96%);
}

.image-container {
   max-width: 100%;
   text-align: center;
   margin: auto;
}

.image-container img {
   max-height: calc(100% - 20px);
   max-width: calc(100% - 20px);
   margin: 10px; 
   border-radius: 10px;
}

.description-container {
   /* background-color: red; */
   display: flex;
   flex-direction: column;
   /* width: calc(70%); */
   margin: auto;
}

.project-title {
   font-family: 'Sacramento', cursive;
   font-size: 48px;
   padding-top: 10px;
   margin-top: 0px;
   margin-bottom: 10px;
   text-align: center;
}

.project-tagline {
   display: inline-block;
   font-size: 20px;
   padding: 10px;
   margin: 0px;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
   /* white-space: nowrap */
}

.read-more {
   padding-left: 10px;
}

@media screen and (min-width: 600px) {
   .image-container {
      max-width: 60%;
   }

   .project-item-div {
      flex-direction: row;
   }

   .project-title {
      margin-top: 0px;
   }
 }