{{ define "main" }}

    {{ $currentPage := .Title }}
    {{ partial "header.html" (dict "currentPage" $currentPage)}}

    <h1 class="title">{{ .Title }}</h1>
    <section class="list-page-section">
        <div class="project-list-container">
            {{ range .Pages }}
                <div class="project-item-card">
                    <div class="project-preview-image-container">
                        <img src="{{ .Params.imgLink }}" alt="Image of {{ .Title }}" class="project-preview-image">
                    </div>
                    <div class="description-container">
                        <h1><a href="{{ .Permalink }}" class="project-title">{{ .Title }}</a></h1>
                        <p class="project-tagline">{{ .Params.tagline }}</p>
                        <!-- <a  href="{{ .Permalink }}" class="read-more">Read more...</a> -->
                    </div>
                </div>
            {{ end }}
        </div>
    </section>

{{ end }}