/* TODO: 
- limit image certain size 
- put description div to the right of the image and tagline under the title
- button to source code to the right of everything.
*/

.title {
text-align: center;
}

.project-item-card {
   text-decoration: none;
}

.project-list-container {
   /* max-width: calc(50%); */
   margin: auto;
}

.project-item-div {
   display: flex;
   flex-direction: row;
   border-style: solid;
   border-top-left-radius: 10px;
   margin-bottom: 10px;
   max-height: 70%;
}

.project-item-div:hover {
   background-color: hsl(287, 100%, 96%);
}

.image-container {
   max-width: 60%;
   /* text-align: center; */
   /* margin: auto; */
}

.image-container img {
   max-height: calc(100%);
   max-width: 100%;
   border-radius: 10px;
   /* padding: 5px; */
   /* margin: auto; */
}

.description-container {
   /* background-color: red; */
   display: flex;
   flex-direction: column;
   /* width: calc(70%); */
   margin: auto;
}

.project-title {
   /* background-color: blue; */
   font-size: 30px;
   padding-top: 10px;
   margin: 0px;
   text-align: center;
}

.project-tagline {
   display: inline-block;
   padding: 10px;
   margin: 0px;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
   /* white-space: nowrap */
}

.read-more {
   padding-left: 10px;
}

@media screen and (max-width: 500px) {
   .project-list-container {
      max-width: 100%;
   }

   .image-container {
      max-width: 40%;
      text-align: center;
      margin: auto;
   }
 }