body {
   background-color: #dbcfff;
}

.list-page-section {

}

.title {
   font-family: 'Pangolin', cursive;
   font-size: 96px;
   font-weight: normal;
   text-align: center;
   margin-top: 0px;
}

.list-page-section .project-item-card {
   text-decoration: none;
}

.list-page-section .project-list-container {
   /* max-width: calc(50%); */
   max-width: 100%;
   margin: auto;
}

.list-page-section .project-item-div {
   /* display: flex; */
   /* flex-direction: column; */
   border-style: solid;
   border-radius: 30px;
   border-width: 10px;
   margin-bottom: 10px;
   margin: 10px;
   /* max-height: 70%; */
}

.list-page-section .project-item-div:hover {
   background-color: hsl(287, 100%, 96%);
}

.list-page-section .image-container {
   max-width: 100%;
   text-align: center;
   margin: auto;
}

.list-page-section .image-container img {
   max-height: calc(100% - 20px);
   max-width: calc(100% - 20px);
   margin: 10px; 
   border-radius: 10px;
}

.list-page-section .description-container {
   /* background-color: red; */
   display: flex;
   flex-direction: column;
   /* width: calc(70%); */
   margin: auto;
}

.list-page-section .project-title {
   font-family: 'Sacramento', cursive;
   font-size: 96px;
   padding-top: 10px;
   margin-top: 0px;
   margin-bottom: 10px;
   text-align: center;
}

.list-page-section .project-tagline {
   display: inline-block;
   font-size: 56px;
   padding: 10px;
   margin: 0px;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
   /* white-space: nowrap */
}

.list-page-section .read-more {
   padding-left: 10px;
}

@media screen and (min-width: 1000px) {
   .title {
      font-size: 36px;
   }
   
   .list-page-section .image-container {
      max-width: 60%;
   }

   .list-page-section .project-item-div {
      /* flex-direction: row; */
      width: 50%;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
   }

   .list-page-section .project-title {
      margin-top: 0px;
      font-size: 48px;
   }

   .list-page-section .project-tagline {
      font-size: 20px;
   }

   .list-page-section .project-item-div {
      /* display: flex; */
      /* flex-direction: column; */
      border-style: solid;
      border-radius: 10px;
      border-width: 3px;
      /* max-height: 70%; */
   }
 }